In [ ]:
# install necessary modules
%pip install psycopg2-binary
%pip install sqlalchemy

In [25]:
import psycopg2
from psycopg2 import sql
import pandas as pd
from sqlalchemy import create_engine, types, text

In [33]:
#create connection string and engine
database_url = "suleiman.db.elephantsql.com"
user = "bgkfcsde"
password = "UUpkPmwLi6e08Mb1M_Oi6LELad0fnZA2"
database_name = "bgkfcsde"
port = 5432

#up.uses_netlog.append("postgres")
connection_string = f"postgresql://{user}:{password}@{database_url}:{port}/{database_name}"

engine = create_engine(connection_string)
conn = engine.connect()
#engine.dispose()

In [ ]:
# read local csv file for daycare_fees
df = pd.read_csv("Data_100/daycare_fees.csv")

#specify the data type
data_type = {
    "customer_id": types.Integer,
    "hourly_rate": types.Float,
    "daily": types.Float,
    "weekly":types.Float,
    "monthly": types.Float,
    "total_year": types.Float
}

df.to_sql(name= "daycare_fees", con=engine, index= False, if_exists = "replace", dtype= data_type)

In [ ]:
# test remote dbs
try:
    # Perform the SELECT query
    query = text("SELECT * FROM daycare_fees;")
    df = pd.read_sql(query, con=engine)
    print(df)

finally:
    # Close the connection
    conn.close()

    # Close the engine
    engine.dispose()

In [35]:
# read local csv file for customer_payment
df = pd.read_csv("Data_100/customer_payment.csv")

#specify the data type
data_type = {
    "customer_id": types.Integer,
    "total_hours_day": types.Integer,
    "total_hours_week": types.Integer,
    "total_hours_month":types.Integer,
    "monthly_payment": types.Float,
    "total_payment_year": types.Float
}

df.to_sql(name= "customer_payment", con=engine, index= False, if_exists = "replace", dtype= data_type)

100

In [36]:
# test remote dbs
try:
    # Perform the SELECT query
    query = text("SELECT * FROM customer_payment;")
    df = pd.read_sql(query, con=engine)
    print(df)

finally:
    # Close the connection
    conn.close()

    # Close the engine
    engine.dispose()

    customer_id  total_hours_day  total_hours_week  total_hours_month
0           789                4                20                 80  \
1           981                4                20                 80
2           165                4                20                 80
3           338                8                40                160
4            81                4                20                 80
..          ...              ...               ...                ...
95          231                4                20                 80
96          111                4                20                 80
97          382                4                20                 80
98          877                4                20                 80
99          585                8                40                160

    monthly_payment  total_payment_year
0             800.0              9600.0
1             800.0              9600.0
2             800.0              9600.0
3            1600.0             19200.0
4             800.0              9600.0
..              ...                 ...
95            800.0              9600.0
96            800.0              9600.0
97            800.0              9600.0
98            800.0              9600.0
99           1600.0             19200.0

[100 rows x 6 columns]