In [ ]:
# install faker, VS Code
%pip install faker

In [2]:
# import libraries
from random import randint, seed
import pandas as pd
from faker import Faker

#create faker object
f = Faker()

In [16]:
# set seed for reproducible data generation
seed(2)
# define a function
def input_data(x):
  customer_id = 10

  # create a pd dataframe(table)
  data = pd.DataFrame()
  for i in range(0,x):
    data.loc[i, "customer_id"]= customer_id
    data.loc[i,"parent_name"] = f.name()
    data.loc[i, "child_name"] = f.name()
    data.loc[i, "child_birthday"]= f.date_of_birth(minimum_age=0, maximum_age=5)
    data.loc[i, "family_address"] = f.address()
    data.loc[i, "parent_email"] = f.email()
    data.loc[i, "parent_job"] = f.job()
    data.loc[i, "parent_credit_card"] = f.credit_card_full()
    data.loc[i, "latitude"] = str(f.latitude())
    data.loc[i, "longitude"] = str(f.longitude())
    customer_id +=1
  return data
result = input_data(500)
result.to_csv("daycare_child.csv", index = False)

In [17]:
df = pd.read_csv("daycare_child.csv")
df.head(20)

,customer_id,parent_name,child_name,child_birthday,family_address,parent_email,parent_job,parent_credit_card,latitude,longitude
0,10.0,Jason Shah,Timothy Garcia,2019-10-14,"541 Heather Throughway Apt. 788\nSouth Jason, ...",gjones@example.org,Materials engineer,JCB 15 digit\nJaclyn Proctor\n180019469555447 ...,60.869016,-51.367959
1,11.0,Sarah Moran,Melissa Clark,2020-03-06,6149 Lindsey Station Apt. 577\nWest Sydneyside...,rbuchanan@example.net,Web designer,VISA 16 digit\nVicki Miller\n4702514659149044 ...,-32.922727,-135.547180
2,12.0,Sarah Hamilton,Scott Walker,2020-11-30,"3345 Kennedy Land Suite 006\nLake William, NY ...",nathanlucero@example.org,Printmaker,VISA 19 digit\nChristina Rodriguez\n4238803710...,-44.138042,-134.630118
3,13.0,Jessica Fisher,Thomas Prince,2018-05-09,"44661 Madison Shores\nJeremyfurt, AR 71966",vanessapeterson@example.net,"Surveyor, building control",VISA 13 digit\nLisa Calhoun\n4083549062810 01/...,-72.129750,73.433127
4,14.0,Christine Martin,Anthony Smith,2018-12-16,"25853 Jennifer Courts Apt. 413\nFowlerville, V...",smiththomas@example.org,Advertising account planner,VISA 16 digit\nMary Day\n4229385970464626 12/2...,46.904444,40.266628
5,15.0,Jason Petersen,Kristine Vang,2023-04-21,Unit 0128 Box 0224\nDPO AA 19057,jbauer@example.net,Aeronautical engineer,VISA 16 digit\nJudith Petty\n4799980794027482 ...,-22.917609,157.526950
6,16.0,Abigail Clark,Richard Bishop,2018-03-13,"1407 James Crossing Apt. 897\nEast Kellytown, ...",hmorales@example.net,Actor,JCB 16 digit\nAnna Cox\n3518104187806038 12/31...,-53.508355,81.301906
7,17.0,Mr. Adam Hale,Robert Meyer,2022-07-28,"886 Jimmy Trail Suite 735\nAnthonyfurt, NJ 93131",gail78@example.net,Physiological scientist,JCB 15 digit\nDanielle Smith\n180029515665439 ...,-63.048403,98.316468
8,18.0,Juan Bennett,Jill Fox,2022-01-07,"2395 Gregory Course Apt. 391\nReynoldsland, PA...",maryramirez@example.net,Ranger/warden,Maestro\nCalvin Walker\n580509790219 05/25\nCV...,-84.245476,81.750902
9,19.0,Christopher Wilson,Nathan Rivera,2023-01-30,"84435 Mackenzie Mission\nSeanfort, PR 25987",buchananjimmy@example.org,Medical laboratory scientific officer,JCB 16 digit\nPatrick Pace\n3524463856483467 0...,24.137407,-41.358083
10,20.0,Eric Austin,Dr. Howard Turner,2021-08-21,"71926 Reed Trace Apt. 235\nSouth Brittany, FL ...",anthonywilcox@example.org,"Designer, fashion/clothing",Maestro\nMichael Roberts\n501818546662 11/32\n...,60.698496,20.077573
11,21.0,Ashley Estrada,Bethany Love,2018-12-23,"868 Thompson Mountains Apt. 593\nNicoleport, A...",drakemichael@example.com,"Geologist, wellsite",VISA 13 digit\nDaniel Fox\n4184399506342 08/29...,89.741234,53.849438
12,22.0,Karen Martinez DVM,Melissa Livingston,2019-03-02,"746 Benton Port Suite 695\nShawborough, NM 14791",john66@example.net,Control and instrumentation engineer,JCB 16 digit\nBradley Riddle\n3571996423245861...,-42.464179,-43.840644
13,23.0,Mrs. Jessica Nunez,Mary Walker,2022-11-04,"451 Moreno Spur\nOchoachester, NJ 98684",wjohnson@example.net,Petroleum engineer,Diners Club / Carte Blanche\nChristopher Miles...,-84.286999,-173.612105
14,24.0,William Ray,Emily Anderson,2019-09-03,"44788 Andres Junction\nEast Robert, NC 59568",michael20@example.org,"Administrator, charities/voluntary organisations",VISA 16 digit\nThomas Phelps\n4296608291422249...,-44.768513,-96.608513
15,25.0,Jeanette Yu,Derrick Nelson,2021-04-10,"PSC 7672, Box 7565\nAPO AE 45034",brad89@example.org,Biomedical scientist,VISA 16 digit\nDerek Waters\n4905520052745598 ...,5.846387,71.040130
16,26.0,Patricia Padilla,Charles Diaz,2018-05-19,"20233 Johnson Branch\nWhiteside, DC 77221",xburton@example.com,Retail merchandiser,Mastercard\nSandra Miller\n2720303328712834 04...,83.071868,130.513581
17,27.0,Scott Fitzgerald,Robert Park,2018-10-11,"61467 Debra Overpass\nNew Laura, RI 38251",yedwards@example.com,Information systems manager,VISA 19 digit\nKimberly Parker\n49414801172826...,-20.910061,13.077249
18,28.0,Hannah Barnes,Beth Wall,2019-10-02,"72679 Pamela Circle\nMcneilview, MP 91537",owhite@example.net,Consulting civil engineer,JCB 16 digit\nBrooke Morris\n3518617287112361 ...,54.474778,-172.812872
19,29.0,Steven Burch,John White,2022-12-14,"5281 Wagner Ports\nEmilyville, VT 37078",connor82@example.com,Operational investment banker,JCB 15 digit\nTammy Rose\n213195029472397 11/2...,-59.029159,-116.410955