In [1]:
!pip install faker

Collecting faker
  Downloading Faker-19.13.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\sunil\appdata\local\programs\python\python311\lib\site-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\sunil\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.4->faker) (1.16.0)
Downloading Faker-19.13.0-py3-none-any.whl (1.7 MB)
   ---------------------------------------- 0.0/1.7 MB ? eta -:--:--
   ---- ----------------------------------- 0.2/1.7 MB 4.0 MB/s eta 0:00:01
   ---------------------- ----------------- 1.0/1.7 MB 10.4 MB/s eta 0:00:01
   ---------------------------------------- 1.7/1.7 MB 13.8 MB/s eta 0:00:00
Installing collected packages: faker
Successfully installed faker-19.13.0

In [2]:
# import libraries
from random import randint, seed
import pandas as pd
from faker import Faker

#create faker object
f = Faker()

In [3]:
# set seed for reproducible data generation
seed(2)
# define a function
def input_data(x):
  # create a pd dataframe(table)
  data = pd.DataFrame()
  for i in range(0,x):
    data.loc[i, "customer_id"]= randint(1, 100)
    data.loc[i,"parent_name"] = f.name()
    data.loc[i, "child_name"] = f.name()
    data.loc[i, "child_birthday"]= f.date_of_birth(minimum_age=0, maximum_age=5)
    data.loc[i, "family_address"] = f.address()
    data.loc[i, "parent_email"] = f.email()
    data.loc[i, "parent_job"] = f.job()
    data.loc[i, "parent_credit_card"] = f.credit_card_full()
    data.loc[i, "latitude"] = str(f.latitude())
    data.loc[i, "longitude"] = str(f.longitude())
  return data
input_data(1000)

,customer_id,parent_name,child_name,child_birthday,family_address,parent_email,parent_job,parent_credit_card,latitude,longitude
0,8.0,Sabrina Long,Nathaniel Elliott,2021-04-22,"319 Richards Keys\nLawsonfurt, UT 01651",jennifercox@example.com,"Producer, television/film/video",JCB 16 digit\nKimberly Stephenson\n35235864504...,-24.198177,69.337993
1,12.0,Sheila Jones,Kathleen Phillips,2020-04-30,"694 Kim Ramp Suite 277\nBrettshire, SC 07076",crossbryan@example.org,Quarry manager,Mastercard\nAmanda Foster\n2246802779921120 11...,-37.7415455,-68.739226
2,11.0,Aaron Jones,Donna Young,2020-09-02,"9961 Gonzalez Spur Apt. 706\nVanessaville, OH ...",jonpaul@example.com,Careers adviser,VISA 13 digit\nDylan Mclaughlin\n4763497190545...,28.530673,107.169386
3,47.0,Corey Wilson,Melissa Allen,2021-03-26,"75149 Mark Rapid\nEast Joshuaton, MN 58567",gsmith@example.com,Music therapist,Maestro\nAndrew Snyder\n587246309468 10/26\nCV...,64.4349255,66.019111
4,22.0,Michael Harvey,Heather Lopez,2021-05-21,"083 Smith Mill Suite 160\nCurtisville, IA 13743",katelynconrad@example.com,Glass blower/designer,Discover\nCameron Sutton\n6011979417677811 09/...,76.3705585,-70.742194
...,...,...,...,...,...,...,...,...,...,...
995,79.0,Frank Hernandez,Destiny Robinson,2018-03-07,"24381 Fuentes Ford Apt. 812\nJenniferburgh, ID...",molinaalbert@example.com,Environmental manager,Diners Club / Carte Blanche\nGeorge Wilson\n30...,21.7125895,127.549213
996,25.0,Becky Vazquez,Ashley Hall,2021-03-23,"743 Fitzpatrick Tunnel Apt. 781\nNew Ronald, M...",lmccoy@example.org,Garment/textile technologist,Diners Club / Carte Blanche\nDonald Richardson...,-75.483570,130.989723
997,75.0,Robert Johnson,Susan Martinez,2020-02-10,"435 Wall Stravenue Suite 308\nPachecoland, ID ...",alyssadunn@example.org,Transport planner,American Express\nEmily Coleman\n3727727645854...,-11.4326425,165.313480
998,61.0,Dean Macdonald,James Glenn,2018-07-05,"401 Terry Locks Apt. 301\nBerrybury, DC 59715",david55@example.org,Ceramics designer,VISA 19 digit\nLogan Robinson\n410468107381259...,-1.304788,68.771803
999,57.0,Glenn Hopkins,Billy Martinez,2021-03-25,"989 Ronald Summit Suite 613\nPort Stephanie, P...",annettearmstrong@example.org,Research scientist (medical),Mastercard\nShawn Boyd\n2394954520422153 09/26...,-30.818786,73.234000

In [9]:
!git clone "git@github.com:sunil-20/data_engineering_23.git"

Cloning into 'data_engineering_23'...
git@github.com: Permission denied (publickey).
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.