In [5]:
# create an employee dataset

# import libraries
from random import randint, seed
import pandas as pd
from faker import Faker

In [6]:
# create faker object
f = Faker()

# set seed
seed(2)

def input_employee(x):
    data = pd.DataFrame()
    for i in range(0, x):
        data.loc[i,"employee_id"] = randint(1, 20)
        data.loc[i, "employee_name"] = f.name()
        data.loc[i, "birthdate"] = f.date_of_birth(minimum_age = 18, maximum_age = 70)
        data.loc[i, "address"] = f.address()
        data.loc[i, "email"] = f.email()
        data.loc[i, "job_title"] = f.random_element(["Manager","Teacher", "Teacher Assistant", "Cheff", "Cleaner", "Nurse", "Secretary" ])
        data.loc[i, "salary_year"] = randint(20000, 40000)
        data.loc[i, "latitude"] = str(f.latitude())
        data.loc[i, "longitude"] = str(f.longitude())
    return data
input_employee(20)

,employee_id,employee_name,birthdate,address,email,job_title,salary_year,latitude,longitude
0,2.0,Sarah Jones,1990-11-29,"5174 Silva Pike\nWest John, AL 21407",jaredmeyer@example.net,Cleaner,23001.0,31.0416105,105.037095
1,3.0,Melinda Lee,1963-06-21,"300 Elizabeth Garden\nPhamchester, NV 36372",jjenkins@example.com,Cleaner,31831.0,-85.3267205,-32.749477
2,6.0,Maria Nguyen,1961-11-11,827 Danielle Crossroad Suite 906\nEast Christo...,wolfmatthew@example.com,Manager,30097.0,31.5689015,-139.029294
3,9.0,Julie Tran,1987-12-13,"7274 Douglas Knoll\nPort John, HI 40706",ibutler@example.org,Cheff,39855.0,35.829224,-59.497863
4,7.0,Randy Payne,1995-03-12,"6959 Melissa Gateway\nNew Brittney, KS 27348",marcberry@example.org,Teacher,39883.0,48.171150,145.703394
5,2.0,Teresa Huang,1982-01-17,"7469 Jennifer Well Apt. 883\nMoralesview, VI 9...",jeffrey06@example.org,Manager,39044.0,-19.696676,60.985846
6,6.0,Kenneth Rivera,1987-11-12,"95325 Stewart Forges\nThomaston, VA 51169",nserrano@example.com,Nurse,34112.0,78.3332715,-131.823587
7,13.0,Justin Williams,1958-12-08,"635 Gregory Fork\nSouth Nicholasbury, WV 84682",bfox@example.net,Teacher,36681.0,64.0855715,-64.113699
8,12.0,Patricia Rojas,1982-04-03,"59061 Monica Wells\nEast Crystalport, CA 78774",angela30@example.net,Secretary,37831.0,-63.883263,82.482252
9,15.0,Ashley Johnson,1971-08-17,"22358 Kevin Common\nStaffordmouth, FL 39008",martincharles@example.net,Manager,36451.0,3.875338,121.357701
10,9.0,Daniel Thomas,1980-11-29,"8770 Wyatt Cliff Apt. 740\nTylerchester, IA 11972",andrew59@example.net,Manager,21177.0,82.2762445,-44.015361
11,1.0,Kelly Johnston,1960-03-19,"3270 Brian Meadows Apt. 358\nLake Jasonside, A...",jose67@example.com,Teacher Assistant,31928.0,23.1893275,6.624850
12,15.0,Michael Duncan,1963-02-13,206 Rodriguez Radial Suite 052\nNew Staciemout...,pjones@example.net,Teacher,30435.0,32.0816945,-35.561215
13,13.0,Joshua Randall,1972-09-12,"6871 Henry Shoal Suite 940\nNorth Sandra, AS 3...",martinezteresa@example.org,Manager,33880.0,-50.975179,-4.268637
14,17.0,Jared Hayes Jr.,1980-10-18,"16751 Moore Place\nEast Michael, ME 50447",taylorlaura@example.org,Nurse,25389.0,-6.9552745,-2.625931
15,18.0,Danielle Campbell,2004-03-13,"200 Melanie Mount Apt. 450\nShannonchester, PR...",osmith@example.net,Teacher,25814.0,-31.547705,57.673837
16,8.0,Melissa Williams,1975-04-12,"33249 Kathy Meadows Suite 106\nPort Joyview, A...",christophermartin@example.org,Cleaner,27556.0,-79.716945,-17.170977
17,1.0,Erica Singleton,2005-06-30,59906 Pace Parkway Apt. 376\nLake Mauriceborou...,fsalazar@example.com,Teacher,25790.0,65.4397405,-153.536620
18,11.0,Monica Wright,1985-08-21,"878 Hess Fort\nPayneshire, CT 59336",jodi42@example.com,Manager,25688.0,19.1305365,45.803712
19,5.0,Gary Horn,1987-03-30,"8109 Zachary Glen Apt. 521\nBaileymouth, GA 19642",manuelwilliams@example.com,Cleaner,36717.0,-72.3765725,127.921982