In [1]:
!pip install faker

Collecting faker
  Downloading Faker-19.13.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\sunil\appdata\local\programs\python\python311\lib\site-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\sunil\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.4->faker) (1.16.0)
Downloading Faker-19.13.0-py3-none-any.whl (1.7 MB)
   ---------------------------------------- 0.0/1.7 MB ? eta -:--:--
   ---- ----------------------------------- 0.2/1.7 MB 4.0 MB/s eta 0:00:01
   ---------------------- ----------------- 1.0/1.7 MB 10.4 MB/s eta 0:00:01
   ---------------------------------------- 1.7/1.7 MB 13.8 MB/s eta 0:00:00
Installing collected packages: faker
Successfully installed faker-19.13.0

In [2]:
# import libraries
from random import randint, seed
import pandas as pd
from faker import Faker

#create faker object
f = Faker()

In [3]:
# set seed for reproducible data generation
seed(2)
# define a function
def input_data(x):
  # create a pd dataframe(table)
  data = pd.DataFrame()
  for i in range(0,x):
    data.loc[i, "customer_id"]= randint(1, 100)
    data.loc[i,"parent_name"] = f.name()
    data.loc[i, "child_name"] = f.name()
    data.loc[i, "child_birthday"]= f.date_of_birth(minimum_age=0, maximum_age=5)
    data.loc[i, "family_address"] = f.address()
    data.loc[i, "parent_email"] = f.email()
    data.loc[i, "parent_job"] = f.job()
    data.loc[i, "parent_credit_card"] = f.credit_card_full()
    data.loc[i, "latitude"] = str(f.latitude())
    data.loc[i, "longitude"] = str(f.longitude())
  return data
input_data(1000)

,customer_id,parent_name,child_name,child_birthday,family_address,parent_email,parent_job,parent_credit_card,latitude,longitude
0,8.0,David Melton,Allison Henderson,2023-04-07,"050 Brittany Drive\nLake Heather, WA 06560",colemandustin@example.org,Exercise physiologist,VISA 16 digit\nJose Carey\n4273258789178155 05...,57.357651,-146.525129
1,12.0,Brian Miller,Danielle Cole,2020-12-30,"335 William Mount Apt. 329\nKellerhaven, MN 68736",john36@example.net,"Engineer, chemical",Mastercard\nDiana Villa\n2562996991269460 09/3...,70.2705935,108.651366
2,11.0,Danny Ramirez,Glenn Smith,2023-06-05,"5720 Anderson Way\nPerezshire, AS 87407",michealwalls@example.org,Textile designer,Discover\nEmily Wiggins\n6011380727788184 12/2...,7.876259,-19.164555
3,47.0,Gregory Martinez,Clayton Hernandez,2021-10-15,"924 Christopher Common\nSouth Jeffreyfurt, MT ...",alisontucker@example.net,Musician,Diners Club / Carte Blanche\nLaura Hill\n36759...,74.0559455,45.548558
4,22.0,Christopher Evans,Carlos Mccoy,2019-09-26,"7265 Salazar Prairie\nClayton, OK 70209",mollypowers@example.com,Nature conservation officer,JCB 16 digit\nGlenn Cohen\n3571558284368776 07...,-17.8739025,-61.769866
...,...,...,...,...,...,...,...,...,...,...
995,79.0,Robert Mayo,Miguel Washington DVM,2023-06-10,"37898 Thompson Field\nJasonville, IN 01725",michelle39@example.net,Early years teacher,Mastercard\nJames Brown\n2278639543976001 11/2...,-11.266427,108.545468
996,25.0,Vanessa Smith,Jeffrey Mayo,2020-01-20,"9507 Raymond Groves\nPort Sarahtown, GU 69119",sandovalrobert@example.org,Neurosurgeon,American Express\nLaura Brown\n340744993596909...,-66.150115,45.598786
997,75.0,Kevin Wilson,Cody Benson,2018-01-20,"4752 Walker Isle Apt. 987\nPort James, WA 52555",yhampton@example.com,Paramedic,Mastercard\nPamela Snyder\n2576853012017697 11...,-29.286668,90.035948
998,61.0,Stephen Johnson,Keith Oliver,2019-05-21,"76682 Erika Plains Suite 542\nWilliamburgh, NC...",rachel93@example.org,"Surveyor, commercial/residential",American Express\nMallory Richardson\n37927579...,-58.732468,-0.288640
999,57.0,Carolyn Jones,Mrs. Nancy Howell,2021-09-30,"25062 Gardner Mall\nGaryland, AZ 42092",nicolebrown@example.com,Tax adviser,American Express\nMatthew Gomez\n3748163218627...,-78.2716885,42.709955